body{
    color:#40514e;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;

}
.nav-link{
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px 20px;
    
}
.container{
    display: flex;
    justify-content: end;
    color: #A4D0A4 ;
}

.top-container{
    background-color: #e4f9f5;
    margin-bottom: 50px;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 30px;
}

.profile p{
    padding:30px
}

h1{
    font-size: 4rem;
    font-family: 'Lobster', cursive;
}



.middle-container{
    margin: 30px 0;
}

div{
    display: block;
}

h2{
    color: #66bfbf;
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin: 50px auto 0 auto;
}

h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.intro{
    width: 30%;
    margin: auto;
}

p{
    line-height: 2;
    display:block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #40514e;

}

.parent{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width:50%;
    margin: 20px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
    align-items: center;
}



.uil{
    font-size: 50px;
}



.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a{
    color: #617A55;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}